<!-- ./app.vue -->
<script setup lang="ts"></script>
<template>
  <VitePwaManifest />
  <div class="flex flex-col items-center">
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
    <div id="chart-nav-slot" class="mt-5"></div>
  </div>
</template>
