@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #696969 #1a1a1a;
  border-radius: 0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
  background-color: #696969;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  touch-action: manipulation;
}

@layer base {
  
}


@layer components {
  
}


